/* 
  fully-compliant Collection+JSON client 
  baseline stylesheet
  cj-full.css 
  @mamund
*/

/* basic layout stuff */
body {font-family:sans-serif;}

ul,li,dl,dt,dd {margin:0; padding:0;}

p.id,p.dateCreated,p.dateUpdated {display:none;}
p.item {margin:0;}
#items li {margin-top:.5em;}

a.item {text-transform:capitalize;}
a.link {margin-left:125px;}
a.action {margin-left:.5em; margin-right:.5em;}

span.prompt {display:block; width:125px; font-weight:bold; text-align:right; float:left; padding-right:.2em;text-transform:capitalize;}
span.prompt::after{content:":"}
span.value {clear:right;}

form p {margin:0;}
form legend {font-weight:bold;}
form label {display:block; width:145px; font-weight:bold; text-align:right; float:left; padding-right:.2em;}
form label::after{content:":"}
form input {clear:right;}
form input[type=submit] {margin-left:150px;font-weight:bold;}


#links ul {margin: 0;padding: 0;list-style-type: none;}
#links ul li {display: inline;}
#links ul li a {text-decoration: none;padding: .2em 1em;color: #fff;background-color: #036;}
#links ul li a:hover {color: #fff;background-color: #369;}

#items {width:48%;height:700px;float:left;}  

#queries {width:49%;float:right;}
#queries li {margin:0;padding:0;}
#queries ul {margin:0;padding:0;list-style:none;}


#template {width:49%;float:right;}

#edit {width:49%;float:right;}

#error {color:red; font-weight:bold;clear:both;}
#error p {margin:0}

#dump {display:none;}
